<a href="https://colab.research.google.com/github/trongthuan205/Deep-Learning-A-Z-Hands-On-Artificial-Neural-Networks/blob/master/001_What_is_Deep_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
! git clone https://github.com/trongthuan205/Deep-Learning-A-Z-Hands-On-Artificial-Neural-Networks DeepLearning

fatal: destination path 'DeepLearning' already exists and is not an empty directory.

# Part 1 - Data Preprocessing

In [0]:
#Iimporting library
import numpy as np
import matplotlib.pyplot as plt
import pandas as pdd

In [8]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [0]:
#Importing  dataset
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:,3:13].values
y = dataset.iloc[:,13].values

In [0]:
#Encoding categorical dataset
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_1.fit_transform(X[:, 2])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

In [0]:
#Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [0]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

# Part 2: Make the ANN

In [0]:
#Importing the Keras libraries and package
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [0]:
def build_classifier(optimizer):
    classifier = Sequential()
    classifier.add(Dense(output_dim = 6, imit = 'uniform', activation = 'relu', input_dim = 12))
    classifier.add(Dense(output_dim = 6, imit = 'uniform', activation = 'relu'))
    classifier.add(Dense(output_dim = 6, imit = 'uniform', activation = 'sigmoid'))
    classifier.compile(optimizer = optimizer, loss = 'binary-crossentropy', metrics = ['accuracy'] )
    return classifier

In [0]:
classifier = KerasClassifier(build_fn = build_classifier)
parameters = {'bath_size':[25,32],
              'nb_epoch':[100,500],
              'optimizer':['adam','rmsprop']}
grid_search = GridSearchCV(estimator = classifier,
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = 10)
grid_search = grid_search.fit(X_train, y_train)
best_parameter = grid_search.best_params_
best_accuracy = grid_search.best_score_